@{
    ViewData["Title"] = "Admin Console";
}

<div class="jumbotron">
    <h1>Admin Console</h1>
</div>

<h3>Quick tasks</h3>

<ul>


    <li>
        @Html.ActionLink("Review problematic resources", "ListBadResources")
    </li>
    <li>
        @Html.ActionLink("Review uncategorized resource", "ListUncategorized")
    </li>

    <li>
        @Html.ActionLink("Create a new category", "CreateNewCategory")
    </li>
    <li>
        @Html.ActionLink("Create a new resource", "Create", "Resources")
    </li>
    <li>
        @Html.ActionLink("See category tree", "BrowseByCategory")
    </li>
    <li>
        @Html.ActionLink("Recycle Bin", "ListRemoved")
    </li>
</ul>
