@model IEnumerable<DCOClearinghouse.Models.Resource>

@{
    ViewData["Title"] = "Admin Console";
}

<div class="jumbotron">
    <h1>Admin Console</h1>
</div>

Quick tasks

<ul>
    <li>
        <a asp-action="Create">Create new resource</a>
    </li>
    <li>
        <a asp-action="">See new resources</a>
    </li>
    <li>
        <a asp-action="">Find resource by category</a>
    </li>
</ul>



<form asp-action="Index" method="get">
    Find resources
    <div class="row">

        <div class="form-group col-md-4">
            <label class="control-label">@Html.DisplayNameFor(m => m.CategoryID)</label>
            <select name="searchCategoryId" class="form-control" asp-items="ViewBag.CategoryDropdownList">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">@Html.DisplayNameFor(m => m.TypeID)</label>
            <select name="searchTypeId" class="form-control" asp-items="ViewBag.TypeDropdownList">
                <option value="" selected>Any</option>
            </select>
        </div>
     </div>
     <input type="submit" value="Search" class="btn btn-default"/> |
     <a asp-action="Index">Reset filter</a>
</form>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Type)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.CreateDate)
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var resource in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_=>resource.Subject)
            </td>
            <td>
                @Html.DisplayFor(_=>resource.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(_=>resource.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(_=>resource.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@resource.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@resource.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@resource.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>