@{
    ViewData["Title"] = "Resources";
    Layout = "_Layout";
}

<div class="page-header">
    <h1>Resources</h1>
</div>

<ul class="nav nav-tabs">
    <li class="@ViewData["latestTabActive"]">
        <a href="@Url.Action("Index", "Resources")">
            <span class="glyphicon glyphicon-flash"></span> Latest
        </a>
    </li>
    <li class="@ViewData["classifiedTabActive"]">
        <a href="@Url.Action("AllCategories", "Resources")">
            <span class="glyphicon glyphicon-list-alt"></span> Classified
        </a>
    </li>
    <li class="@ViewData["tagCloudTabActive"]">
        <a href="@Url.Action("Tagcloud", "Resources")">
            <span class="glyphicon glyphicon-tags"></span> Tags
        </a>
    </li>
</ul>

<br />

<a asp-action="Create" asp-controller="Resources" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Submit New
</a>

@section Scripts{ 
    @RenderSection("Scripts", false)
}

<br/>
<br/>
@RenderBody()