@{
    ViewData["Title"] = "Resources";
    Layout = "_Layout";
}

<div class="page-header">
    <h1>Resources</h1>
</div>

<ul class="nav nav-tabs">
    <li class="@ViewData["latestTabActive"]">@Html.ActionLink("Latest", "Index", "Resources")</li>
    <li class="@ViewData["classifiedTabActive"]">@Html.ActionLink("Classified", "AllCategories", "Resources")</li>
    <li class="@ViewData["tagCloudTabActive"]">@Html.ActionLink("Tags", "Tagcloud", "Resources")</li>
</ul>

<br />

<a asp-action="Create" asp-controller="Resources" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Submit New
</a>

@section Scripts{ 
    @RenderSection("Scripts", false)
}

<br/>
<br/>
@RenderBody()