@using DCOClearinghouse.Utility
@model System.Collections.Generic.List<DCOClearinghouse.Models.ResourceCategory>

@{
    Layout = "_ResourcesLayout";
}


@foreach (var row in Model.ToArray().Split(4))
{
    <div class="row">
        @foreach (var category in row)
        {
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a asp-action="Category" asp-route-id="@category.ID">
                            <strong>@category.CategoryName</strong>
                        </a>
                    </div>
                    <div class="panel-body">
                        @foreach (var rowInPanel in @category.ChildrenCategories.ToArray().Split(1))
                        {
                            <div class="row">

                                @foreach (var subCategory in rowInPanel)
                                {
                                    <div class="col-sm-12">
                                        <a asp-action="Category" asp-route-id="@subCategory.ID">@subCategory.CategoryName (@subCategory.Resources.Count)</a>
                                        <br>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        <a asp-action="Category" asp-route-id="@category.ID">See all</a>
                    </div>
                </div>
            </div>
        }
    </div>
}