@model ResourceCategory

@{
    Layout="_ResourcesLayout";
}

<div class="h4">
    @if (@Model.ParentCategory == null)
    {
    <span>@@@Model.CategoryName</span>
    }
    else
    {
        <span>@@<a asp-action="Category" asp-route-id="@Model.ParentCategoryID">@Model.ParentCategory.CategoryName</a> <bold>/</bold> @Model.CategoryName</span>
    }

</div>

@if (Model.Depth == 0)
{
    if (Model.ChildrenCategories.Count == 0)
    {
        <a asp-action="DeleteEmptyCategory" asp-controller="ResourceAdmin" asp-route-id="@Model.ID">Admin Delete</a>
    }
    {
        <ol>
            @foreach (var subcat in Model.ChildrenCategories)
            {
                <li>
                    <a asp-action="Category" asp-route-id="@subcat.ID">@Html.DisplayFor(m=>subcat.CategoryName)</a>
                </li>
            }
        </ol>
    }
}
else
{

if (Model.Resources.Count == 0)
 {
     <p>None</p>
     @Html.ActionLink("Admin", "DeleteEmptyCategory", "ResourceAdmin", new {id=Model.ID})
 }
 else
 {
     <div class="container">
         @await Component.InvokeAsync("ResourceTable", new {pageNumber = ViewData["pageNumber"], categoryID = Model.ID})
     </div>
 }
}



