@model IEnumerable<DCOClearinghouse.Models.Resource>

@{
    ViewData["Title"] = "Category";
}

<div class="jumbotron">
    <h3>@ViewData["CategoryName"]</h3>
</div>

<p>
    <a asp-action="Create">Submit new</a>
</p>

<table calss="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.CreateDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Subject)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
    }
    </tbody>
</table>
