@using DCOClearinghouse.Utility
@model System.Collections.Generic.List<Resource>

@{
    ViewData["Title"] = "Resources";
}

<nav class="page-header">
    <h1>Resources</h1>
</nav>

<ul class="nav nav-tabs">
    <li class="active">@Html.ActionLink("Latest", "Index", "Resources")</li>
    <li>@Html.ActionLink("Classified", "AllCategories", "Resources")</li>
    <li>@Html.ActionLink("Tags", "Tagcloud", "Resources")</li>
</ul>

<br/>

<a asp-action="Create">
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Submit New
    </button>
</a>

@{
    int rowNumber = 0;
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            
        </th>
        <th>
            
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var resource in Model)
    {
        <tr>
            <td>
                @{ rowNumber++;} <span>@rowNumber</span>.
            </td>
            <td>
                <a href="@resource.Link" target="_blank">@Html.DisplayFor(_ => resource.Subject)</a>
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="actions">
                    @Html.ActionLink("Details", "Details", "Resources", new {@ID = resource.ID}, new { @class = "btn btn-default"})
                    @Html.ActionLink("Bad link", "ReportBadLink", "Resources", new {@ID = resource.ID}, new { @class = "btn btn-default"})
                    <button type="button" class="btn btn-default">Upvote</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>