@using DCOClearinghouse.Utility
@model IDictionary<DCOClearinghouse.Models.ResourceCategory,List<DCOClearinghouse.Models.Resource>>

@{
    ViewData["Title"] = "Resources";
}

<div class="jumbotron">
    <h1>Resources</h1>
</div>

<p>
    <a asp-action="Create">Sumbit New</a>
</p>

@foreach (var row in Model.ToArray().Split(4))
{
    <div class="row">
        @foreach (var category in row)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><a asp-action="Category" asp-route-id="@category.Key.ID"><strong>@category.Key.CategoryName</strong></a></div>
                    <div class="panel-body">
                        @foreach(var resource in @category.Value){
                            <a asp-action="Details" asp-route-id="@resource.ID">@resource.Subject</a><br>
                        }
                    </div>
                    <div class="panel-footer"><a asp-action="Category" asp-route-id="@category.Key.ID">More ...</a></div>
                </div>
            </div>
        }
    </div>
}

