
@using DCOClearinghouse.Utility
@model DCOClearinghouse.ViewModels.ResourceIndexViewModel []

@{
    ViewData["Title"] = "Resources";
}

<div class="jumbotron">
    <h1>Resources</h1>
</div>

<p>
    <a asp-action="Create">Suggest New Resources</a>
</p>

@foreach (var row in Model.Split(4))
{
    <div class="row">
        @foreach (var category in row)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><a asp-action="Category" asp-route-id="@category.ID"><strong>@category.CategoryName</strong></a></div>
                    <div class="panel-body">
                        @foreach(var subCategory in @category.Children){
                            <a asp-action="Category" asp-route-id="@subCategory.ID">@subCategory.CategoryName</a><br>
                        }
                    </div>
                    <div class="panel-footer"><a asp-action="Category" asp-route-id="@category.ID">More ...</a></div>
                </div>
            </div>
        }
    </div>
}

