@model DCOClearinghouse.Models.Resource

@{
    ViewData["Title"] = "Report Bad Link";
}

<h3>Are you sure you want to report this?</h3>

<strong>
    Please report only if:
    <ul style="list-style-type:none">
        <li><input type="checkbox"/> The resource's link is broken</li>
        <li><input type="checkbox"/> The resource violates the community's guideline</li>
    </ul>
</strong>

<dl class="well">
    <dt>
        @Html.DisplayNameFor(model => model.Subject)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Subject)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Link)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Link)
    </dd>
    @if(!string.IsNullOrEmpty(@Model.Description))
    {
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    }

</dl>

<form asp-action="ReportBadLinkConfirmed">
    <input type="hidden" asp-for="ID"/>
    <div>
        <input type="submit" value="Confirm" class="btn btn-danger"/>
        <a onclick="history.go(-1)" class="btn btn-primary">Cancel</a>
    </div>
</form>