@model PaginatedList<DCOClearinghouse.Models.Resource>
@{
    int rowNumber = 0;
}

@functions
{
    string GetHostDomain(string urlString)
    {
        if (urlString == null)
            return null;
        try
        {
            Uri uri = new Uri(urlString);
            return "("+uri?.Host+")";
        }
        catch (UriFormatException)
        {
            return null;
        }
    }
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            
        </th>
        <th>
            
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var resource in Model)
    {
        <tr>
            <td>
                @{ rowNumber++;} <span>@rowNumber</span>.
            </td>
            <td>
                <a href="@resource.Link" target="_blank">@Html.DisplayFor(_ => resource.Subject)</a>
                <span class="small">@GetHostDomain(resource.Link)</span>
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="actions">
                    @Html.ActionLink("Details", "Details", "Resources", new {@ID = resource.ID}, new { @class = "btn btn-default"})
                    @Html.ActionLink("Bad link", "ReportBadLink", "Resources", new {@ID = resource.ID}, new { @class = "btn btn-default"})
                    <button type="button" class="btn btn-default">Upvote</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>